name: neural-networks       # Имя среды.
channels:                   # Источники пакетов.
  - nvidia
  - pytorch
  - conda-forge
  - defaults

dependencies:
  - python>=3.12            # Современная версия Python.
  - numpy                   # Работа с массивами, основа ML.
  - pandas                  # Анализ данных.
  - matplotlib              # Визуализация данных.
  - pytorch                 # PyTorch — основная библиотека DL.
  - torchvision             # PyTorch для работы с изображениями.
  - pytorch-cuda=12.1       # Поддержка CUDA для PyTorch (если есть GPU).
  - safetensors             # Сохранение моделей в формате safetensors
  - fuzzywuzzy              # Используется для сравнения строк и вычисления их похожести.
  - python-levenshtein      # Нужно для fuzzywuzzy.
  - plotly                  # Интерактивные графики.
  - tqdm                    # Прогресс-бар
  - pip
  - pip:
      - kaggle              # Загрузка датасетов с Kaggle.
      - dataset             # Hugging Face Datasets для работы с различными наборами данных.
      - opendatasets        # Упрощённый интерфейс для скачивания датасетов.
      - pooch               # Управление загрузкой и кэшированием данных.
      - flask>=2.2.0        # Микрофреймворк для создания веб-приложений
      - werkzeug>=2.2.0     # WSGI утилиты для Flask
      - jinja2>=3.0.0       # Шаблонизатор для Flask
      - markupsafe>=2.0.0   # Безопасная обработка строк для Jinja2
      - itsdangerous>=2.0.0 # Подпись данных для Flask
      - click>=8.0.0        # CLI утилиты для Flask
      - blinker>=1.4        # Сигналы для Flask
      - loguru              # Улучшенное логирование
      - rapidfuzz>=3.0.0    # Быстрое сравнение строк
      - fasteners           # Блокировка файлов
      - pillow_heif         # Извлечение метаданных из изображения
      - pillow>=9.0.0       # Работа с изображениями
      - opencv-python>=4.8  # Быстрая обработка изображений для создания миниатюр
